
h1{
    color: crimson;
  }
  
  .header{
    background-color: darkgray;
    display: flex;
    justify-content: inherit;
    color: crimson;
    text-size-adjust: 23;
    
    
  }
  .site-Description{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
   
  }
  
  .grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .footer{
    display: flex;
    justify-content: flex-end;
    background-color: rgba(0, 255, 255, 0);
  }
  
  .p,h2{
    text-align: left;
    text-decoration-color: coral;
    text-size-adjust: 20;
  }
  
  body{
    background-color: beige;
    color: #080808;
    text-align: left;
    
  }
  